<div ngClass="column">
  <img ngClass="icon-profile" src="../../../assets/icons_menu_bar/profile.png"/>
  <div ngClass="title1 profile-name">Guillaume ROUAIX</div>
</div>
<div ngClass="container">
  <span ngClass="title2">Commandes :</span>
  <div ngClass="title3  dispatcher-left">
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
  </div>
</div>
<div ngClass="container">
  <span ngClass="title2">informations :</span>
  <div ngClass="title3 container">
    email :
    <br>
    compte cuisinier :
  </div>
  <button mat-button>déconnexion</button>
</div>
